﻿@using Microsoft.AspNet.Identity
@using Microsoft.AspNet.Identity.Owin;
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="description" content="">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- The above 4 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <script src="~/Content/js/jquery-3.5.1.js"></script>

    <script>
        $(function () {
            $("#includedContent").load("./src/Auth/index.html");
        });
    </script>
    <!-- Title -->
    <title>@ViewBag.Title</title>

    <!-- Favicon -->
    <link rel="icon" href="~/Content/img/core-img/coconut.png">

    <!-- Core Stylesheet -->
    <link href="~/Content/css/style.css" rel="stylesheet" />


    <!-- Responsive CSS -->
    <link href="~/Content/css/responsive.css" rel="stylesheet">

    <!-- TextInput CSS -->
    @*<link href="~/Content/css/test.css" rel="stylesheet">*@
    <link href="~/Content/css/modalStyle.css" rel="stylesheet" />
    <link href="~/Content/css/inputStyle.css" rel="stylesheet" />
    <link href="~/Content/css/buttonStyle.css" rel="stylesheet" />
    <link href="~/Content/css/buttonStyle.css" rel="stylesheet" />

    <style>
        .subBtn::after{
            color:chartreuse
        }
    </style>

</head>


<body>

    <section id="modal-1" class="modal-container">
        @using (Html.BeginForm("AddClass", "Manage", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "login100-form validate-form", id = "formaddclass" }))
        {
            @Html.AntiForgeryToken()
            <div class="modal-dialog" id="modalContent">
                <svg class="modal-svg" viewBox="0 0 100 100" preserveAspectRatio="none">
                    <polygon class="modal-polygon" />
                </svg>

                <div class="modal-content">

                    <h2 class="white">create your class</h2>
                    <p class="white" style="font-size: 18px">please fill these inputs</p>

                    <div class="wrap-input100 validate-input">
                        <input class="input100" type="text" name="title" placeholder="title of your class">
                        <span class="focus-input100"></span>
                        <span class="symbol-input100">
                            <i class="fa fa-plug" aria-hidden="true"></i>
                        </span>
                    </div>

                    <div class="wrap-input100 validate-input">
                        <input class="input100" type="text" name="about" placeholder="about your class">
                        <span class="focus-input100"></span>
                        <span class="symbol-input100">
                            <i class="fa fa-lightbulb-o" aria-hidden="true"></i>
                        </span>
                    </div>

                    <div style="display: inline-block;justify-content: center;align-items:center;text-align: center">

                        <div class="btn btn-two" id="modal-button" style="float: left;text-align: center">
                            <span class="btnTitle">close</span>
                        </div>

                        <div class="" id="btnaddclass" style="float: right ;text-align: center;margin-top:14%;margin-right:10%">
                            <button type="submit" class="subBtn" style="color:white;">create</button>
                        </div>

                    </div>

                </div>

            </div>
        }
    </section>

    <div class='mainPage'>
        <!-- Preloader Start -->
        <div id="preloader">
            <div class="colorlib-load"></div>
        </div>

        <!-- ***** Header Area Start ***** -->
        <header class="header_area animated">
            <div class="container-fluid">
                <div class="row align-items-center">
                    <!-- Menu Area Start -->
                    <div class="col-12 col-lg-10">
                        <div class="menu_area">
                            <nav class="navbar navbar-expand-lg navbar-light">
                                <!-- Logo -->
                                <a class="navbar-brand" href="~/Content/#">Coconut</a>
                                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#ca-navbar"
                                        aria-controls="ca-navbar" aria-expanded="false" aria-label="Toggle navigation">
                                    <span class="navbar-toggler-icon"></span>
                                </button>
                                <!-- Menu Area -->
                                <div class="collapse navbar-collapse" id="ca-navbar">
                                    <ul class="navbar-nav ml-auto" id="nav">

                                        <li class="nav-item"><a class="nav-link" href="#your-classes">your classes</a></li>
                                        <li class="nav-item">
                                            <a class="nav-link" href="#joined-classes">joined classes</a>
                                        </li>
                                        <li class="nav-item">
                                            <a class="nav-link" href="/manage/allclasses">
                                                All
                                                classes
                                            </a>
                                        </li>
                                        <li class="nav-item"> <a class="nav-link" href="#" id="open-button" onclick="topFunction()">newClass</a>   </li>
                                        @if (Request.IsAuthenticated == true)
                                        {
                                            <li class="nav-item"> <a class="nav-link" href="/account/LogOff">Log Out</a>   </li>

                                        }
                                    </ul>

                                </div>
                            </nav>
                        </div>
                    </div>
                    <!-- Signup btn -->
                    <div class="col-12 col-lg-2">
                        <div class="sing-up-button d-none d-lg-block">
                            @if (Request.IsAuthenticated == false)
                            {
                                @Html.ActionLink("Log in", "Login", "Account")
                            }
                            else
                            {
                                var userid = User.Identity.GetUserId();
                                var usermngr = HttpContext.Current.GetOwinContext().Get<IdentitySample.Models.ApplicationUserManager>();
                                var user = usermngr.FindById(userid);
                                <a href="/Manage/index" style="font-size:13px">@user.Email</a>

                            }

                        </div>
                    </div>
                </div>
            </div>
        </header>
        <!-- ***** Header Area End ***** -->
        <!-- ***** Wellcome Area Start ***** -->
        <section class="wellcome_area clearfix" style="height:230px!important" id="home">
        </section>
        <!-- ***** Wellcome Area End ***** -->











        @RenderBody()


        <!-- ***** Footer Area Start ***** -->
        <footer class="footer-social-icon text-center section_padding_70 clearfix">
            <!-- footer logo -->
            <div class="footer-text">
                <h2>Coconut</h2>
            </div>
        </footer>
        <!-- ***** Footer Area Start ***** -->
    </div>
   

    <script>
        function topFunction() {
            document.body.scrollTop = 0;
            document.documentElement.scrollTop = 0;
        }
    </script>

    <!-- Jquery-2.2.4 JS -->
    <script src="~/Content/js/jquery-2.2.4.min.js"></script>
    <!-- Popper js -->
    <script src="~/Content/js/popper.min.js"></script>
    <!-- Bootstrap-4 Beta JS -->
    <script src="~/Content/js/bootstrap.min.js"></script>
    <!-- All Plugins JS -->
    <script src="~/Content/js/plugins.js"></script>
    <!-- Slick Slider Js-->
    <script src="~/Content/js/slick.min.js"></script>
    <!-- Footer Reveal JS -->
    <script src="~/Content/js/footer-reveal.min.js"></script>
    <!-- Active JS -->
    <script src="~/Content/js/active.js"></script>
    <script src="~/Content/js/TweenMax.min.js"></script>
    @RenderSection("scripts", required: false)
</body>

</html>
