﻿@using Microsoft.AspNet.Identity
@using Microsoft.AspNet.Identity.Owin;
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="description" content="">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- The above 4 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <script src="~/Content/js/jquery-3.5.1.js"></script>

    <script>
        $(function () {
            $("#includedContent").load("./src/Auth/index.html");
        });
    </script>
    <!-- Title -->
    <title>@ViewBag.Title</title>

    <!-- Favicon -->
    <link rel="icon" href="~/Content/img/core-img/coconut.png">

    <!-- Core Stylesheet -->
    <link href="~/Content/css/style.css" rel="stylesheet" />


    <!-- Responsive CSS -->
    <link href="~/Content/css/responsive.css" rel="stylesheet">

    <!-- TextInput CSS -->
    <link href="~/Content/css/test.css" rel="stylesheet">
    @*<link href="~/Content/css/modalStyle.css" rel="stylesheet" />
    <link href="~/Content/css/inputStyle.css" rel="stylesheet" />
    <link href="~/Content/css/buttonStyle.css" rel="stylesheet" />
    <link href="~/Content/css/buttonStyle.css" rel="stylesheet" />*@


</head>

<body>


    <div class='mainPage'>
        <!-- Preloader Start -->
        <div id="preloader">
            <div class="colorlib-load"></div>
        </div>

        <!-- ***** Header Area Start ***** -->
        <header class="header_area animated">
            <div class="container-fluid">
                <div class="row align-items-center">
                    <!-- Menu Area Start -->
                    <div class="col-12 col-lg-10">
                        <div class="menu_area">
                            <nav class="navbar navbar-expand-lg navbar-light">
                                <!-- Logo -->
                                <a class="navbar-brand" href="~/Content/#">Coconut</a>
                                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#ca-navbar"
                                        aria-controls="ca-navbar" aria-expanded="false" aria-label="Toggle navigation">
                                    <span class="navbar-toggler-icon"></span>
                                </button>
                                <!-- Menu Area -->
                                <div class="collapse navbar-collapse" id="ca-navbar">
                                    <ul class="navbar-nav ml-auto" id="nav">
                                        <li class="nav-item active"><a class="nav-link" href="#home">Home</a></li>
                                        <li class="nav-item active">
                                            <p class="nav-link" data-toggle="modal" data-target="#submitMolad">submit</p>
                                        </li>
                                        @if (Request.IsAuthenticated == true)
                                        {
                                            <li class="nav-item"> <a class="nav-link" href="/account/LogOff">Log Out</a>   </li>

                                        }
                                    </ul>

                                </div>
                            </nav>
                        </div>
                    </div>
                    <!-- Signup btn -->
                    <div class="col-12 col-lg-2">
                        <div class="sing-up-button d-none d-lg-block">
                            @if (Request.IsAuthenticated == false)
                            {
                                @Html.ActionLink("Log in", "Login", "Account")
                            }
                            else
                            {
                                var userid = User.Identity.GetUserId();
                                var usermngr = HttpContext.Current.GetOwinContext().Get<IdentitySample.Models.ApplicationUserManager>();
                                var user = usermngr.FindById(userid);
                                <a href="/Manage/index">@user.Email</a>

                            }

                        </div>
                    </div>
                </div>
            </div>
        </header>
        <!-- ***** Header Area End ***** -->
        <!-- ***** Wellcome Area Start ***** -->
        <section class="wellcome_area clearfix" style="height:230px!important" id="home">
        </section>
        <!-- ***** Wellcome Area End ***** -->


        <!--Modal: submit-->
        <div class="modal fade right" id="submitMolad" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
             aria-hidden="true" data-backdrop="true">
            <div class="modal-dialog modal-side modal-bottom-right modal-notify modal-danger" role="document">
                <!--Content-->
                <div class="modal-content">
                    <!--Header-->
                    <div class="modal-header">
                        <p class="heading">
                            are you sure you want to submit?
                        </p>
                    </div>

                    <!--Footer-->
                    <div class="modal-footer flex-center">
                        <a href="#" id="submitTest" class="btn btn-danger">
                            submit
                            <i class="far fa-gem ml-1 white-text"></i>
                        </a>
                        <a type="button" class="btn btn-outline-danger waves-effect" data-dismiss="modal">close</a>
                    </div>
                </div>
                <!--/.Content-->
            </div>
        </div>
        <!--Modal: submit-->





        @RenderBody()


        <!-- ***** Footer Area Start ***** -->
        <footer class="footer-social-icon text-center section_padding_70 clearfix">
            <!-- footer logo -->
            <div class="footer-text">
                <h2>Coconut</h2>
            </div>
        </footer>
        <!-- ***** Footer Area Start ***** -->
    </div>


    <!-- Jquery-2.2.4 JS -->
    <script src="~/Content/js/jquery-2.2.4.min.js"></script>
    <!-- Popper js -->
    <script src="~/Content/js/popper.min.js"></script>
    <!-- Bootstrap-4 Beta JS -->
    <script src="~/Content/js/bootstrap.min.js"></script>
    <!-- All Plugins JS -->
    <script src="~/Content/js/plugins.js"></script>
    <!-- Slick Slider Js-->
    <script src="~/Content/js/slick.min.js"></script>
    <!-- Footer Reveal JS -->
    <script src="~/Content/js/footer-reveal.min.js"></script>
    <!-- Active JS -->
    <script src="~/Content/js/active.js"></script>
    <script src="~/Content/js/TweenMax.min.js"></script>
    @RenderSection("scripts", required: false)
</body>

</html>
