﻿@using Student.Models;
@model List<Class>
@{
    Layout = "~/Views/Shared/_LayoutAllClasses.cshtml";
}





<section class="special-area bg-white section_padding_100" id="All-classes">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <!-- Section Heading Area -->
                <div class="section-heading text-center">
                    <h2>All Classes</h2>
                    <div class="line-shape"></div>
                </div>
            </div>
        </div>

        <div class="row">
            <!-- Single Special Area -->


            @foreach (var item in Model)
            {
                <div class="col-12 col-md-4">
                    @using (Html.BeginForm("JoinClass", "Manage", FormMethod.Post, new { @class = "login100-form validate-form", role = "form", id = "form" }))
                    {
                        @Html.AntiForgeryToken()
                        <div class="single-special text-center wow fadeInUp" data-wow-delay="0.2s">
                            <div class="single-icon">
                                <h3 style="color: #f71b6a">@item.Name</h3>
                            </div>
                            <!-- teacher -->
                            <div>
                                <i style=" color: #f71b6a;" class="fa fa-user" aria-hidden="true"></i>
                                <p style="display: inline-block"></p>
                                <h4 style="display: inline-block">@item.AspNetUser.UserName</h4>
                            </div>
                            <!-- number of student -->

                            <div>
                                <i style=" color: #f71b6a;" class="fa fa-graduation-cap" aria-hidden="true"></i>
                                <p style="display: inline-block"></p>
                                <h4 style="display: inline-block">@item.ClassUsers.Count</h4>
                            </div>
                            <p>@item.About</p>
                            <br />
                            <input hidden name="classid" value="@item.ID" />
                            <a style="color:red;font-size:16px" class="formSubmit" href="#" >Join</a>
                        </div>
                    }
                </div>
            }


        </div>

    </div>
</section>






@section scripts{
    <script>
        $(".formSubmit").click(function () {

            console.log("in");
             $(this).closest("form").submit();
            //document.getElementById("form").submit();


        });
       
    </script>
}


