﻿@{
    Layout = "~/Views/Shared/_LayoutAnswers.cshtml";
}

@using Student.Models
@model List<Answer>

<section class="special-area bg-white section_padding_100" id="All-classes">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <!-- Section Heading Area -->
                <div style="justify-content: center;" class="section-heading text-center">
                    <h2 style="display: inline-block;margin-right: 5px;">student's answers</h2>
                    <!--<i id="plus_button" class="fa fa-plus-circle" aria-hidden="true"-->
                    <!--data-toggle="modal" data-target="#modalDiscount"></i>-->
                    <div class="line-shape"></div>
                </div>
            </div>
        </div>



        <div>
            <!-- Single Special Area -->
            <div class="" style="width: 100%;">

                @using (Html.BeginForm("submitscore", "Manage", FormMethod.Post, new { @class = "login100-form validate-form", role = "form", id = "form" }))
                {
                    @Html.AntiForgeryToken()
                    foreach (var item in Model)
                    {
                        <div class="single-special text-center wow fadeInUp" style="word-wrap:break-word;"
                             data-wow-delay="0.2s">
                            <h5 style="color: #5b32b4;text-align: left">question @item.Question.Order</h5>
                            <br>
                            <p style="text-align: left;">
                                @item.Question.Title
                            </p>
                            <br>
                            <h5 style="color: #5b32b4;text-align: left">answer</h5>
                            <p style="text-align: left;">
                                @item.Text
                            </p>
                            <br>
                            <div style="justify-items: left">
                                <h6 style="display:inline-block">score : </h6>
                                <input type="number" id="1" value="0" name="score" required style="text-align: center;border-radius: 6px;border-width:thin">
                            </div>
                            <input hidden  name="answerid" value="@item.ID" />
                        </div>
                    }


                }


            </div>

        </div>

    </div>
</section>

<script>

    $("#submitTest").click(function () {
    $("#form").submit();

    });


</script>