﻿@using Student.Models;
@model List<Teste>
@{
    Layout = "~/Views/Shared/_LayoutClassOwner.cshtml";
}

<style>
    
a.showStudent{ 
    color:aqua !important;
    font-size:16px;

}

    a.showStudent:hover {
        color: aqua !important;
        font-size: 20px;
        cursor: pointer;
    }

.formHover:hover{
    cursor:pointer
}

</style>

<link href="~/Content/css/otherStyle.css" rel="stylesheet" />


<section class="special-area bg-white section_padding_100" id="All-classes">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <!-- Section Heading Area -->
                <div style="justify-content: center;" class="section-heading text-center">
                    <h2 style="display: inline-block;margin-right: 5px;">tests</h2>
                    <i id="plus_button" class="fa fa-plus-circle" data-toggle="modal" data-target="#modalDiscount"></i>
                    <div class="line-shape"></div>
                </div>
            </div>
        </div>



        <!--Modal: modalDiscount-->
        <div class="modal fade right" id="modalDiscount" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
             aria-hidden="true" data-backdrop="true">
            <div class="modal-dialog modal-side modal-bottom-right modal-notify modal-danger" role="document">
                <!--Content-->
                <div class="modal-content">
                    @using (Html.BeginForm("ClassOwner", "Manage", FormMethod.Post, new { @class = "login100-form validate-form", role = "form", id = "form" }))
                    {
                        @Html.AntiForgeryToken()
                        <!--Header-->
                        <div class="modal-header">
                            <p class="heading">
                                Test
                            </p>

                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true" class="white-text">&times;</span>
                            </button>
                        </div>

                        <!--Body-->
                        <div class="modal-body">

                            <div class="row">



                                <!--Material textarea-->
                                <div class="md-form">
                                    <input style="margin-left:20px" placeholder="test title" class="form-control" name="testname" />

                                </div>
                                <input hidden value="@ViewBag.classid" name="classid" />

                            </div>
                        </div>

                        <!--Footer-->
                        <div class="modal-footer flex-center">
                            <button type="submit" class="btn btn-danger">
                                submit
                                <i class="far fa-gem ml-1 white-text"></i>
                            </button>
                            <a type="button" class="btn btn-outline-danger waves-effect" data-dismiss="modal">close</a>
                        </div>
                    }
                </div>
                <!--/.Content-->
            </div>
        </div>
        <!--Modal: modalDiscount-->







        <div class="row">
            <!-- Single Special Area -->


            @foreach (var item in Model)
            {
                <div class="col-12 col-md-4">


                    <div class="single-special text-center wow fadeInUp " data-wow-delay="0.2s">
                        @using (Html.BeginForm("createTest", "Manage", FormMethod.Get, new { @class = "login100-form validate-form", role = "form", id = "form" }))
                        {
                            @Html.AntiForgeryToken()
                            <div class="formSubmit formHover">
                                <div class="single-icon">
                                    <h3 style="color: #f71b6a">@item.Name</h3>
                                </div>
                                <!-- teacher -->
                                <div>
                                    <i style=" color: #f71b6a;" class="fa fa-pencil-square-o" aria-hidden="true"></i>
                                    <p style="display: inline-block"></p>
                                    <h4 style="display: inline-block"> @item.Questions.Count</h4>
                                </div>
                                <br>
                                <input hidden name="testId" value="@item.ID" />

                                @*<b style="margin-top: 5px;color: red">DELETE</b>*@
                            </div>
                        }
                     
                        <a   onClick="reply_click(@item.ID)"  class="showStudent">
                            students
                        </a>

                    </div>
                  
                </div>
            }


        </div>

    </div>


</section>


@section scripts{
    <script>
        $(".formSubmit").click(function () {

          
            $(this).closest("form").submit();

        });
         function reply_click(clicked_id)
         {
               $.ajax({
                type: "POST",
                url: "/Manage/GetStudentByTestID",
                data: { testID: clicked_id },
                success: function (data) {
                    var json = $.parseJSON(data);

                    $("#liststudent").empty();
                      $.each(json,function(key,value){
                         
                          $("#liststudent").append(' <li style="border-style: solid;border-width:0px;border-bottom-width: 0.3px;border-bottom-color: #5b32b4 "> <a href="/manage/answers?username='+value+'&&testid='+clicked_id+'">' + value + '</a></li>')
                      })
                    $("#modalStudents").modal();
                },
            });
      
        };
     


    </script>
}

