﻿
@{
    ViewBag.Title = "Chat";
    Layout = "~/Views/Shared/_LayoutAllClasses.cshtml";
}
@using Microsoft.AspNet.Identity
@using Microsoft.AspNet.Identity.Owin;
@using Student.Models
@{
    var userid = User.Identity.GetUserId();
    var usermngr = HttpContext.Current.GetOwinContext().Get<IdentitySample.Models.ApplicationUserManager>();
    var user = usermngr.FindById(userid);
}
@model List<Message>
<input id="hUserId" value="@userid" type="hidden" />
<input id="hId" type="hidden" />
<input id="hUserName" value="@user.UserName" type="hidden" />
<input id="hGroup" type="hidden" />

<input id="hclassID" hidden value="@ViewBag.classid" />
<style>


    .containerchat {
        border: 2px solid #dedede;
        background-color: #f1f1f1;
        border-radius: 5px;
        padding: 10px;
        margin: 10px 0;
    }

    .darker {
        border-color: #ccc;
        background-color: #ddd;
    }

    .containerchat::after {
        content: "";
        clear: both;
        display: table;
    }

    .containerchat img {
        float: left;
        max-width: 60px;
        width: 100%;
        margin-right: 20px;
        border-radius: 50%;
    }

        .containerchat img.right {
            float: right;
            margin-left: 20px;
            margin-right: 0;
        }

    .time-right {
        float: right;
        color: #aaa;
    }

    .time-left {
        float: left;
        color: #999;
    }
</style>




<section class="special-area bg-white section_padding_100" id="All-classes">
    <div class="container">


        <h2>Chat Messages</h2>
        <div id="divMessage">
            @foreach (var item in Model)
            {
                if (item.UserID == userid)
                {

                    <div class="containerchat"> <p>Me</p><p>@item.Message1</p><span class="time-right">@item.datetime.Value.ToShortTimeString()</span></div>
                }
                else
                {
                    <div class="containerchat darker"> <p>@item.AspNetUser.UserName</p><p>@item.Message1</p><span class="time-right">@item.datetime.Value.ToShortTimeString()</span></div>


                }
            }

        </div>
        <div>

            <div class="containerchat" style="display:flex">
                <input id="txtMessage" type="text" class="form-control" />
                <button class="btn btn-sm btn-success" id="btnSendMessage" style="margin:2px">send</button>
            </div>
        </div>
    </div>
</section>

@section scripts{
    @*<script src="~/Scripts/jquery-3.4.1.min.js"></script>*@
    <script src="~/Scripts/jquery.signalR-2.4.1.min.js"></script>
    <script src="~/signalr/hubs" type="text/javascript"></script>

    <script>
        $(function () { //This section will run whenever we call Chat.cshtml page

            var objHub = $.connection.myHub;

            loadClientMethods(objHub);

            $.connection.hub.start().done(function () {
                loadEvents(objHub);

            });
        });

        function loadEvents(objHub) {

            $(function () {
            
                var name = $("#hUserId").val();
                var classID = $("#hclassID").val();


                if (name.length > 0) {
                    // <<<<<-- ***** Return to Server [  Connect  ] *****
                    objHub.server.connect(name, classID);

                }
                else {
                    alert("Please Insert UserName");
                }

            });

            $('#btnSendMessage').click(function () {

          
                var msg = $("#txtMessage").val();

                if (msg.length > 0) {

                    var userName = $('#hUserName').val();
                    var classID = $("#hclassID").val();
                    console.log(userName);
                    // <<<<<-- ***** Return to Server [  SendMessageToGroup  ] *****
                    objHub.server.sendMessageToGroup(userName, msg, classID);

                }
            });



            $("#txtMessage").keypress(function (e) {
                if (e.which == 13) {
                    $('#btnSendMessage').click();
                }
            });
        }

        function loadClientMethods(objHub) {

            objHub.client.NoExistAdmin = function () {
                var divNoExist = $('<div><p>There is no Adminto response you try again later</P ></div > ');


                $(divNoExist).hide();

                $(divNoExist).fadeIn(900).delay(9000).fadeOut(900);
            }

            objHub.client.getMessages = function (userName, message) {
                var dt = new Date();
                var time = dt.getHours() + ":" + dt.getMinutes() + ":" + dt.getSeconds();
              
                $("#txtMessage").val('');
                var currentusername = $('#hUserName').val();
                if (currentusername != userName) {
                    $('#divMessage').append('<div class="containerchat"> <p>' + userName + '</p><p>' + message + '</p><span class="time-right">' + time + '</span></div >');
                } else {
                    $('#divMessage').append('<div class="containerchat darker"> <p>Me</p><p>' + message + '</p><span class="time-right">' + time + '</span></div >');
                }

                var height = $('#divMessage')[0].scrollHeight;
                $('#divMessage').scrollTop(height);
            }

            objHub.client.onConnected = function (id, userName, UserID, userGroup) {

                //var strWelcome = 'Welcome' + +userName;
                //$('#welcome').append('<div><p>Welcome:' +
                //    userName + '</p></div>');

                $('#hId').val(id);
                //$('#hUserId').val(UserID);
                $('#hUserName').val(userName);
                $('#hGroup').val(userGroup);


            }
        }
    </script>
}