﻿@using Student.Models;
@model List<Question>
@{
    Layout = "~/Views/Shared/_LayoutCreateTest.cshtml";
}


<link href="~/Content/css/otherStyle.css" rel="stylesheet" />

<section class="special-area bg-white section_padding_100" id="All-classes">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <!-- Section Heading Area -->
                <div style="justify-content: center;" class="section-heading text-center">
                    <h2 style="display: inline-block;margin-right: 5px;">questions</h2>
                    <i id="plus_button" class="fa fa-plus-circle" aria-hidden="true"
                       data-toggle="modal" data-target="#modalDiscount"></i>
                    <div class="line-shape"></div>
                </div>
            </div>
        </div>


        <!--Modal: createQuestion-->
        <div class="modal fade right" id="modalDiscount" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
             aria-hidden="true" data-backdrop="true">
            <div class="modal-dialog modal-side modal-bottom-right modal-notify modal-danger" role="document">
                <!--Content-->
                <div class="modal-content">
                    @using (Html.BeginForm("createTest", "Manage", FormMethod.Post, new { @class = "login100-form validate-form", role = "form", id = "form" }))
                    {
                        @Html.AntiForgeryToken()
                        <!--Header-->
                        <div class="modal-header">
                            <p class="heading">
                                question
                            </p>

                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true" class="white-text">&times;</span>
                            </button>
                        </div>

                        <!--Body-->
                        <div class="modal-body">

                            <div class="row">


                                <div class="col-9">
                                    <!--Material textarea-->
                                    <div class="md-form">
                                        <textarea id="textarea-char-counter" name="questionText" class="form-control md-textarea" length="220" rows="6"></textarea>
                                    </div>
                                    <input hidden value="@ViewBag.testId" name="testId" />
                                    

                                </div>
                            </div>
                        </div>

                        <!--Footer-->
                        <div class="modal-footer flex-center">
                            <button type="submit" class="btn btn-danger">
                                submit
                                <i class="far fa-gem ml-1 white-text"></i>
                            </button>
                            <a type="button" class="btn btn-outline-danger waves-effect" data-dismiss="modal">close</a>
                        </div>
                    }
                </div>
                <!--/.Content-->
            </div>
        </div>
        <!--Modal: createQuestion-->


        <div>
            <!-- Single Special Area -->
            @foreach (var item in Model)
            {
                <div class="" style="width: 100%;">
                    <div class="single-special text-center wow fadeInUp" style="word-wrap:break-word;" data-wow-delay="0.2s">
                        <p style="text-align: left;">@item.Title</p>
                    </div>
                </div>


            }

        </div>

    </div>
</section>

@section scripts{
    <script>
        $(".formSubmit").click(function () {

            console.log("in");
            $(this).closest("form").submit();
            //document.getElementById("form").submit();


        });

    </script>
}
