﻿@using Student.Models;
@model List<Class>
@{
    ViewBag.Title = "Manage your account";
    Layout = "~/Views/Shared/_LayoutManage.cshtml";
}

<style>
    .Ownerclasses:hover{
        cursor:pointer
    }
    .joinedClass{
        cursor:pointer
    }
</style>

<!-- ***** Special Area Start ***** -->
<section class="special-area bg-white section_padding_100" id="your-classes">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <!-- Section Heading Area -->
                <div class="section-heading text-center">
                    <h2>your Classes</h2>
                    <div class="line-shape"></div>
                </div>
            </div>
        </div>
        <div class="row">


            <!-- Single Special Area -->
            @foreach (var item in Model)
            {


                <div class="col-12 col-md-4">
                    @using (Html.BeginForm("ClassOwner", "Manage", FormMethod.Get, new { @class = "login100-form validate-form", role = "form", id = "form" }))
                    {
                        @Html.AntiForgeryToken()
                        <div class="single-special text-center wow fadeInUp Ownerclasses" data-wow-delay="0.2s">
                            <div class="single-icon">
                                <h3 style="color: #f71b6a">@item.Name</h3>
                            </div>
                            <!-- teacher -->
                            <div>
                                <i style=" color: #f71b6a;" class="fa fa-user" aria-hidden="true"></i>
                                <p style="display: inline-block"></p>
                                <h6 style="display: inline-block"> @item.AspNetUser.UserName</h6>
                            </div>
                            <!-- number of student -->

                            <div>
                                <i style=" color: #f71b6a;" class="fa fa-graduation-cap" aria-hidden="true"></i>
                                <p style="display: inline-block"></p>
                                <h4 style="display: inline-block"> @item.ClassUsers.Count</h4>
                            </div>
                            <p>@item.About</p>
                        </div>
                        <input hidden value="@item.ID" name="ClassID" />
                    }
                </div>
            }

        </div>
    </div>
</section>

<section class="special-area bg-white section_padding_100" id="joined-classes">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <!-- Section Heading Area -->
                <div class="section-heading text-center">
                    <h2>joined Classes</h2>
                    <div class="line-shape"></div>
                </div>
            </div>
        </div>

        <div class="row">

            @foreach (var item in ViewBag.joined)
            {

                <!-- Single Special Area -->
                <div class="col-12 col-md-4">
                    @using (Html.BeginForm("studentClass", "Manage", FormMethod.Get, new { @class = "login100-form validate-form", role = "form", id = "form" }))
                    {
                        @Html.AntiForgeryToken()
                        <div class="single-special text-center wow fadeInUp joinedClass" data-wow-delay="0.2s">
                            <div class="single-icon">
                                <h3 style="color: #f71b6a">@item.Class.Name</h3>
                            </div>
                            <!-- teacher -->
                            <div>
                                <i style=" color: #f71b6a;" class="fa fa-user" aria-hidden="true"></i>
                                <p style="display: inline-block"></p>
                                <h6 style="display: inline-block">@item.Class.AspNetUser.UserName</h6>
                            </div>
                            <!-- number of student -->

                            <div>
                                <i style=" color: #f71b6a;" class="fa fa-graduation-cap" aria-hidden="true"></i>
                                <p style="display: inline-block"></p>
                                <h4 style="display: inline-block">@item.Class.ClassUsers.Count</h4>
                            </div>
                            <p>@item.Class.About</p>
                            <input hidden value="@item.Class.ID" name="ClassID" />
                        </div>
                    }
                </div>


            }

        </div>

    </div>
</section>


@section Scripts {
    <script src="~/Content/js/modalJs.js"></script>
    <script>

        $(".Ownerclasses").click(function () {

            console.log("in");
            $(this).closest("form").submit();

        });

        $(".joinedClass").click(function () {

            console.log("in");
            $(this).closest("form").submit();

        });


    </script>
    <script>
        $("#btnaddclass").click(function () {

            console.log("in");
            $("#formaddclass").submit();

        });
    </script>
}
