﻿@using Student.Models;
@model List<Teste>
@{
    Layout = "~/Views/Shared/_LayoutAllClasses.cshtml";
}
@using Microsoft.AspNet.Identity
@using Microsoft.AspNet.Identity.Owin;


<style>
    .take:hover{
        font-size:25px !important;
        cursor:pointer
    }
</style>

<section class="special-area bg-white section_padding_100" id="All-classes">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <!-- Section Heading Area -->
                <div style="justify-content: center;" class="section-heading text-center">
                    <h2 style="display: inline-block;margin-right: 5px;">tests</h2>
                    <div class="line-shape"></div>
                </div>
            </div>
        </div>

        <div class="row">
            <!-- Single Special Area -->
            @foreach (var item in Model)
            {
                <div class="col-12 col-md-4">
                    @using (Html.BeginForm("takeTest", "Manage", FormMethod.Get, new { @class = "login100-form validate-form", role = "form", id = "form" }))
                    {
                        @Html.AntiForgeryToken()
                    <div class="single-special text-center wow fadeInUp " data-wow-delay="0.2s">
                        <div class="single-icon">
                            <h3 style="color: #f71b6a">@item.Name</h3>
                        </div>
                        <!-- teacher -->
                        <div>
                            <i style=" color: #f71b6a;" class="fa fa-pencil-square-o" aria-hidden="true"></i>
                            <p style="display: inline-block"></p>
                            <h4 style="display: inline-block">@item.Questions.Count</h4>
                        </div>
                        <p>about</p>
                        <br>
                        <input hidden name="testId" value="@item.ID" />
                        @{

                            var userid = User.Identity.GetUserId();
                        }
                        @if (!item.Questions.Where(x => x.Answers.Where(y => y.UserID == userid).Any()).Any())
                        {
                            <b style="margin-top: 5px;color: deepskyblue;font-size: 22px" class="formSubmit take">take</b>
                        }
                        else
                        {
                            <b style="margin-top: 5px;color: deepskyblue;font-size: 22px;">score:</b>
                            if (item.Questions.Where(x => x.Answers.Where(y => y.UserID == userid && y.Score != null).Any()).Any())
                            {
                                <p style="display:inline">@item.Questions.Where(x => x.Answers.Where(y => y.UserID == userid && y.Score != null).Any()).Sum(x=>x.Answers.Sum(y=>y.Score))</p>
                            }
                            else
                            {
                                <p>Not GRADED</p>
                            }

                        }



                    </div>
                    }
                </div>
            }

        </div>

    </div>
</section>




@section scripts{
    <script>
        $(".formSubmit").click(function () {

            console.log("in");
            $(this).closest("form").submit();
            //document.getElementById("form").submit();


        });

    </script>
}