﻿@using Student.Models;
@model List<Question>
@{
    Layout = "~/Views/Shared/_LayoutTakeTest.cshtml";
}



<section class="special-area bg-white section_padding_100" id="All-classes">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <!-- Section Heading Area -->
                <div style="justify-content: center;" class="section-heading text-center">
                    <h2 style="display: inline-block;margin-right: 5px;">questions</h2>
                    <!--<i id="plus_button" class="fa fa-plus-circle" aria-hidden="true"-->
                    <!--data-toggle="modal" data-target="#modalDiscount"></i>-->
                    <div class="line-shape"></div>
                </div>
            </div>
        </div>

        <div>
            <!-- Single Special Area -->

            @using (Html.BeginForm("submitTest", "Manage", FormMethod.Post, new { @class = "login100-form validate-form", role = "form", id = "form" }))
            {
                @Html.AntiForgeryToken()
                <div class="" style="width: 100%;">
                    @foreach (var item in Model)
                    {
                        <div class="single-special text-center wow fadeInUp" style="word-wrap:break-word;" data-wow-delay="0.2s">
                            <div style="display:flex">
                                <h5 style="color: #5b32b4;text-align: left;">question </h5>
                                <h5 style="color: #5b32b4;text-align: left;">@item.Order</h5>
                            </div>
                            <br>
                            <p style="text-align: left;">@item.Title</p>
                            <br>
                            <input hidden name="questionId" value="@item.ID" />
                            <textarea id="1" name="answer" class="form-control md-textarea" placeholder="write your answer..." rows="6"></textarea>
                        </div>
                    }

                </div>
            }

        </div>

    </div>
</section>

@section Scripts {
    <script src="~/Content/js/modalJs.js"></script>
    <script>

    $("#submitTest").click(function () {

    console.log("in");
    $("#form").submit();

    });


    </script>

}