﻿@{
    ViewBag.Title = "Home Page | Coconut";
    Layout = null;
}
@using Microsoft.AspNet.Identity
@using Microsoft.AspNet.Identity.Owin;
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="description" content="">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- The above 4 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <script src="~/Content/js/jquery-3.5.1.js"></script>
    <script>
        $(function () {
            $("#includedContent").load("./src/Auth/index.html");
        });
    </script>
    <!-- Title -->
    <title>@ViewBag.Title</title>

    <!-- Favicon -->
    <link rel="icon" href="~/Content/img/core-img/coconut.png">

    <!-- Core Stylesheet -->
    <link href="~/Content/css/style.css" rel="stylesheet" />


    <!-- Responsive CSS -->
    <link href="~/Content/css/responsive.css" rel="stylesheet">
    <script type="text/javascript">
        var _smartsupp = _smartsupp || {};
        _smartsupp.key = '6dafa0620a79b3a9171b5651ddc879d072870e13';
        window.smartsupp || (function (d) {
            var s, c, o = smartsupp = function () { o._.push(arguments) }; o._ = [];
            s = d.getElementsByTagName('script')[0]; c = d.createElement('script');
            c.type = 'text/javascript'; c.charset = 'utf-8'; c.async = true;
            c.src = 'https://www.smartsuppchat.com/loader.js?'; s.parentNode.insertBefore(c, s);
        })(document);
    </script>
</head>

<body>


    <div class='mainPage'>
        <!-- Preloader Start -->
        <div id="preloader">
            <div class="colorlib-load"></div>
        </div>

        <!-- ***** Header Area Start ***** -->
        <header class="header_area animated">
            <div class="container-fluid">
                <div class="row align-items-center">
                    <!-- Menu Area Start -->
                    <div class="col-12 col-lg-10">
                        <div class="menu_area">
                            <nav class="navbar navbar-expand-lg navbar-light">
                                <!-- Logo -->
                                <a class="navbar-brand" href="#">Coconut</a>
                                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#ca-navbar"
                                        aria-controls="ca-navbar" aria-expanded="false" aria-label="Toggle navigation">
                                    <span class="navbar-toggler-icon"></span>
                                </button>
                                <!-- Menu Area -->
                                <div class="collapse navbar-collapse" id="ca-navbar">
                                    <ul class="navbar-nav ml-auto" id="nav">
                                        <li class="nav-item active"><a class="nav-link" href="#home">Home</a></li>
                                        <li class="nav-item"><a class="nav-link" href="#about">About</a></li>
                                        @if (Request.IsAuthenticated == true)
                                        {
                                            <li class="nav-item"> <a class="nav-link" href="/account/logoff">Log Out</a>   </li>

                                        }
                                    </ul>
                                    <div class="sing-up-button d-lg-none">
                                        @if (Request.IsAuthenticated == false)
                                        {
                                            @Html.ActionLink("Log in", "Login", "Account")
                                        }
                                        else
                                        {
                                            var userid = User.Identity.GetUserId();
                                            var usermngr = HttpContext.Current.GetOwinContext().Get<IdentitySample.Models.ApplicationUserManager>();
                                            var user = usermngr.FindById(userid);
                                            <a href="/Manage/index">@user.Email</a>

                                        }

                                    </div>
                                </div>
                            </nav>
                        </div>
                    </div>
                    <!-- Signup btn -->
                    <div class="col-12 col-lg-2">
                        <div class="sing-up-button d-none d-lg-block">
                            @if (Request.IsAuthenticated == false)
                            {
                                @Html.ActionLink("Log in", "Login", "Account")
                            }
                            else
                            {
                                var userid = User.Identity.GetUserId();
                                var usermngr = HttpContext.Current.GetOwinContext().Get<IdentitySample.Models.ApplicationUserManager>();
                                var user = usermngr.FindById(userid);
                                <a href="/Manage/index">@user.Email</a>

                            }
                            @*<a href="src/Login_v1/index.html">Login</a>*@
                        </div>
                    </div>
                </div>
            </div>
        </header>
        <!-- ***** Header Area End ***** -->
        <!-- ***** Wellcome Area Start ***** -->
        <section class="wellcome_area clearfix" id="home">
            <div class="container h-100">
                <div class="row h-100 align-items-center">
                    <div class="col-12 col-md">
                        <div class="wellcome-heading">
                            <h2>Coconut</h2>
                            <h3>C</h3>
                            <p>Everything You Need. To Start your class</p>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Welcome thumb -->
            <div class="welcome-thumb wow fadeInDown" data-wow-delay="0.8s">
                <img src="~/Content/img/bg-img/1.png" alt="">
            </div>
        </section>
        <!-- ***** Wellcome Area End ***** -->
        <!-- ***** Special Area Start ***** -->
        <section class="special-area bg-white section_padding_100" id="about">
            <div class="container">
                <div class="row">
                    <div class="col-12">
                        <!-- Section Heading Area -->
                        <div class="section-heading text-center">
                            <h2>Why Is It Special</h2>
                            <div class="line-shape"></div>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <!-- Single Special Area -->
                    <div class="col-12 col-md-4">
                        <div class="single-special text-center wow fadeInUp" data-wow-delay="0.2s">
                            <div class="single-icon">
                                <i class="ti-mobile" aria-hidden="true"></i>
                            </div>
                            <h4>Easy to use</h4>
                            <p>
                                We build pretty complex tools and this allows us to take designs and turn them into
                                functional quickly and easily
                            </p>
                        </div>
                    </div>
                    <!-- Single Special Area -->
                    <div class="col-12 col-md-4">
                        <div class="single-special text-center wow fadeInUp" data-wow-delay="0.4s">
                            <div class="single-icon">
                                <i class="ti-ruler-pencil" aria-hidden="true"></i>
                            </div>
                            <h4>Powerful Design</h4>
                            <p>
                                We build beautiful web site for u to use. it is wonderful. our design is pretty simple to
                                use
                            </p>
                        </div>
                    </div>
                    <!-- Single Special Area -->
                    <div class="col-12 col-md-4">
                        <div class="single-special text-center wow fadeInUp" data-wow-delay="0.6s">
                            <div class="single-icon">
                                <i class="ti-settings" aria-hidden="true"></i>
                            </div>
                            <h4>classes</h4>
                            <p>
                                you can have as many classes as you want. there is no limit in this site. how assome we
                                are
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </section>


        <!-- ***** Footer Area Start ***** -->
        <footer class="footer-social-icon text-center section_padding_70 clearfix">
            <!-- footer logo -->
            <div class="footer-text">
                <h2>Coconut</h2>
            </div>
        </footer>
        <!-- ***** Footer Area Start ***** -->
    </div>


    <!-- Jquery-2.2.4 JS -->
    <script src="~/Content/js/jquery-2.2.4.min.js"></script>
    <!-- Popper js -->
    <script src="~/Content/js/popper.min.js"></script>
    <!-- Bootstrap-4 Beta JS -->
    <script src="~/Content/js/bootstrap.min.js"></script>
    <!-- All Plugins JS -->
    <script src="~/Content/js/plugins.js"></script>
    <!-- Slick Slider Js-->
    <script src="~/Content/js/slick.min.js"></script>
    <!-- Footer Reveal JS -->
    <script src="~/Content/js/footer-reveal.min.js"></script>
    <!-- Active JS -->
    <script src="~/Content/js/active.js"></script>
    <!-- Smartsupp Live Chat script -->
 
</body>

</html>



