button {
    cursor: pointer;
    padding: 0 6px;
    min-width: 88px;
    min-height: 36px;
}

.controls {
    padding: 24px;
}

.modal-container {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 300;
    width: 100%;
    height: 100vh;
    overflow: hidden;
    background: rgba(0,0,0,0.15);
    opacity: 0;
    visibility: hidden;
}

.modal-dialog {
    width: 70vmin;
    height: 70vmin;
    position: relative;
    overflow: hidden;


}

.modal-svg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

}

.modal-polygon {
    fill: #ab47bc;
    z-index: 500;

}

.modal-content {
    position: relative;
    top: 0;
    left: 0;
    padding: 24px;
    visibility: hidden;
    opacity: 0;
    z-index: 500;
    background:#ab47bc;
    border: 0px;
}

.white{
    color: white;
    margin: 8px;
}

.modalButtonCreate{
    color: white;
}

.modalButtonClose{
    color: white;
}
.modalButtonClose:hover{
    color: greenyellow;
}