﻿#plus_button {
    color: #30f73a;
    font-size: 28px
}

    #plus_button:hover {
        cursor: pointer;
        box-shadow: #0b0b0b;
        font-size: 29px;
        text-shadow: 1px 1px #e2e2e2;
    }


a.showStudent{
color:aqua
}
